html {
  height: 100%;
}

html, body {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  font-size: 100%;
  line-height: 1.5;

  box-sizing: border-box;
}

body {
  min-height: 100%;
}

li {
  list-style: none;
}

.text-center {
  text-align: center;
}

/* -------- Main ------- */

.main {
  float: left;

  width: 100%;
}


/* -------- Fruits ------- */

.fruits, .inventions {
  float: left;

  margin: 0 0 1em;
  padding: 1em 0;

  width: 100%;
}

.fruits .fruit,
.inventions .invention {
  float: left;

  padding: 0.5em 1%;

  width: 23%;

  cursor: pointer;
}

.fruits .fruit:hover,
.inventions .invention:hover {
  background-color: #f03;
}


/* --------- Basket -------- */

.droparea, .basket {
  float: left;

  margin-bottom: 2em;
  padding: 2em 0;

  width: 100%;
}

.droparea {
  border: 2px dashed #72a;
}

.droparea.highlight {
  border-style: solid;
}

.basket {
  margin: 1em 0 0 0;
  padding: 0;
}