<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>angular-dragndrop-object</title>
    <meta name="description" content="Angular.js drag'n'drop directive for JavaScript objects">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../dist/angular-dragndrop-object.css">
    <link rel="stylesheet" href="app/styles/app.css">
  </head>
  <body ng-app="example">
    <h1>angular-dragndrop-object</h1>

    <div ng-controller="ExampleCtrl">
      <ul class="fruits">
        <li ng-repeat="fruit in fruits" draggable="true" json-data="stringify(fruit)" class="fruit text-center">{{fruit.title}}</li>
      </ul>

      <ul class="inventions">
        <li ng-repeat="invention in inventions" draggable="true" ng-model="invention" class="invention text-center">{{invention.title}}</li>
      </ul>

      <div droparea class="droparea text-center" drop="addToCart" highlight-class="highlight">
        <span>Drop fruit here</span>
      </div>

      <div ng-show="basket.length">
        <strong>Корзинка</strong>
        <ul class="basket">
          <li ng-repeat="item in basket">{{item.title}}</li>
        </ul>
      </div>
    </div>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../dist/angular-dragndrop-object.js"></script>

    <script src="app/scripts/app.js"></script>
  </body>
</html>